<p id="notice"><%= notice %></p>
<p>
  <strong>Project:</strong>
  <%= @title.title %>
</p>
<p>
  <strong>Task:</strong>
  <%= @title.description %>
</p>
<div id="todo_items_wrapper">
 <%= render @title.description %>
 <div id="form">
  <%= render "title/form" %>
 </div>
</div>
<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', title_path %>